@font-face {
    font-family: JosefinSans;
    src: url(fonts/JosefinSans-VariableFont_wght.ttf);
}

*{
-webkit-user-select: none;
-khtml-user-select: none;
-webkit-touch-callout : none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
font-family:JosefinSans;
}


body{
    background-color:rgb(7, 15, 120);
}

h1{
    text-align: center;
    margin-bottom:3vh;
    color:rgb(137, 178, 255);
    font-size: 50px;
}

.top-options{
    display:flex;
    justify-content:center;
    margin-bottom:2vh;
    gap:50px;
}
#reset{
    border:solid black 2px;
    border-radius: 6px;
    background-color: rgb(59, 59, 59);
    color:white;
    padding:8px;
}
#columns-container{
    color:white;
}
#columns{
    width:50px;
    height:20px;
}
.columns-button{
    border:solid black 2px;
    border-radius: 6px;
    background-color: rgb(124, 124, 124);
    padding:8px;
}

.container{
    display:flex;
    justify-content:center;
    margin-bottom: 2vh;
}
#sketchpad-container{
    width:500px;
    height:500px;
    display:grid;
    background-color:white;
    box-shadow: 0px 0px 100px 1px cornflowerblue;
}

#color-container{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom: 50px;
}

#red, #orange, #yellow, #green, #blue, #purple, #pink, #black, #brown, #gray, #white{
    height:30px;
    width:30px;
    box-shadow: 4px 4px 4px;
}
#red:hover, #orange:hover, #yellow:hover, #green:hover, #blue:hover, #purple:hover, #pink:hover, #black:hover, #brown:hover, #gray:hover, #white:hover{
    border-color:rgb(46, 46, 46);
    box-shadow: 6px 6px 6px;
}

#red{
    background-color:red;
}
#orange{
    background-color:orange;
}
#yellow{
    background-color:yellow;
}
#green{
    background-color:green;
}
#blue{
    background-color:blue;
}
#purple{
    background-color:purple;
}
#pink{
    background-color:pink;
}
#black{
    background-color:black;
}
#brown{
    background-color:brown;
}
#gray{
    background-color:gray;
}
#white{
    background-color:white;
}

#footer{
    display: flex;
    justify-content: center;
}
#footer-link{
    color:cornflowerblue;
}
a{
    text-decoration:none;
}
a:hover{
    color: black;
}
.top-options{
    box-shadow:none;
}