*{
-webkit-user-select: none;
-khtml-user-select: none;
-webkit-touch-callout : none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:rgb(251, 211, 175);
}

h1{
    text-align: center;
    margin-bottom:3vh;
}

.top-options{
    display:flex;
    justify-content:center;
    margin-bottom:2vh;
    gap:50px;
}
#reset{
    border-style:none;
    background-color: rgb(59, 59, 59);
    color:white;
    box-shadow: 4px 4px 4px black;
}
#columns{
    width:50px;
    height:20px;
}
.columns-button{
    border-style:none;
    background-color: rgb(124, 124, 124);
    color:white;
    box-shadow: 4px 4px 4px black;
}

.container{
    display:flex;
    justify-content:center;
    margin-bottom: 2vh;
}
#sketchpad-container{
    width:500px;
    height:500px;

    display:grid;
    background-color:white;
    box-shadow: 8px 8px 6px;
}

#color-container{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom: 50px;
}

#red, #orange, #yellow, #green, #blue, #purple, #pink, #black, #brown, #gray, #white{
    height:30px;
    width:30px;
    box-shadow: 4px 4px 4px;
}
#red:hover, #orange:hover, #yellow:hover, #green:hover, #blue:hover, #purple:hover, #pink:hover, #black:hover, #brown:hover, #gray:hover, #white:hover{
    border-color:rgb(46, 46, 46);
    box-shadow: 6px 6px 6px;
}

#red{
    background-color:red;
}
#orange{
    background-color:orange;
}
#yellow{
    background-color:yellow;
}
#green{
    background-color:green;
}
#blue{
    background-color:blue;
}
#purple{
    background-color:purple;
}
#pink{
    background-color:pink;
}
#black{
    background-color:black;
}
#brown{
    background-color:brown;
}
#gray{
    background-color:gray;
}
#white{
    background-color:white;
}

#footer{
    display: flex;
    justify-content: center;
}
a{
    text-decoration:none;
}
a:hover{
    color: black;
}